<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!--监听器-->
  <listener>
    <listener-class>com.scuec.service.OnlineListener</listener-class>
  </listener>

  <!--发送验证码的Servlet-->
  <servlet>
    <servlet-name>SendSmsServlet</servlet-name>
    <servlet-class>com.scuec.service.SendSmsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendSmsServlet</servlet-name>
    <url-pattern>/SendSmsServlet</url-pattern>
  </servlet-mapping>
</web-app>


